<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{sysparam.systemParameters}"></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous" />

        <link rel="stylesheet" th:href="@{/css/main.css}"
              href="../../css/main.css" />
    </head>
    <body style="padding: 30px">
        <div class="container">
            <div class="col-md-8">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 th:text="#{sysparam.systemParameters}"></h4>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped" id="param-table">
                            <thead>
                            <tr>
                                <th th:text="#{sysparam.key}"></th>
                                <th th:text="#{sysparam.value}"></th>
                                <th th:text="#{sysparam.type}">Type</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="sysParam : ${systemParameters}">
                                <!--<td th:text="${iterationStatus.count}">1</td>-->
                                <td th:text="${sysParam.key}" class="col-md-4 param-key"></td>
                                <td th:text="${sysParam.value}" class="col-md-4 param-value"></td>
                                <td th:text="${sysParam.type}" class="col-md-4 param-type"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading"><h4 th:text="#{sysparam.addOrEdit}"></h4></div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label" for="new-button"></label>
                            <button id="new-button" name="new-button" class="btn btn-primary"><span class="glyphicon glyphicon-plus" th:text="#{sysparam.new}"></span></button>
                        </div>
                        <form action="/addSysParam" method="POST" id="param-form">
                                <!-- Form Name -->

                                <!-- Button -->

                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="control-label" for="textinput-key" th:text="#{sysparam.key}"></label>
                                    <input id="textinput-key" name="key" type="text" placeholder="" class="form-control input-md" />
                                </div>

                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="control-label" for="textinput-value" th:text="#{sysparam.value}"></label>
                                    <input id="textinput-value" name="value" type="text" placeholder="" class="form-control input-md" />
                                </div>

                                <!-- Select Basic -->
                                <div class="form-group">
                                    <label class="control-label" for="select-type" th:text="#{sysparam.type}"></label>
                                    <select id="select-type" name="type" class="form-control">
                                        <option th:each="sysParamType : ${sysParamTypes}"
                                                th:value="${sysParamType}" th:text="${sysParamType}">
                                        </option>
                                    </select>
                                </div>

                                <input id="hiddeninput-action" name="action" type="hidden" />
                                <!-- Button (Double) -->
                                <div class="form-group">
                                    <button id="save-button" name="save-button" class="btn btn-success"><span class="glyphicon glyphicon-ok" th:text=" #{sysparam.save}"></span></button>
                                    <button id="delete-button" name="delete-button" class="btn btn-danger"><span class="glyphicon glyphicon-remove" th:text=" #{sysparam.delete}"></span></button>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script
                src="https://code.jquery.com/jquery-3.1.1.js"
                integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
                crossorigin="anonymous"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                crossorigin="anonymous"></script>

        <script th:src="@{/js/app.js}" src="../../js/app.js" />
    </body>
</html>